body {
  min-width: 1100px;
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  font-family: 'Raleway';
  font-weight: 400;
  background-color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.accent-span {
  display: block;
}

.letter-spacing-span {
  letter-spacing: 60px;
}